.container
  h1
    i.fa.fa-cogs
    |   Settings

  p Ingrese datos para evento:

  .formulario
    .col-sm-6
      .input-group
        span.input-group-addon
          i.fa.fa-bank
        input.form-control(type='text', placeholder='Ingrese nombre del Evento')
     <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
    .col-sm-6
      .input-group
        span.input-group-addon
          i.fa.fa-calendar
        input.form-control(type='text', placeholder='Ingrese número de días')
    .col-sm-6
      .input-group
        span.input-group-addon
          i.fa.fa-percent
        input.form-control(type='text', placeholder='Ingrese porcentaje total requerido')


hr
#devices
  h3 Lista de Dispositivos
  .panel.panel-default
    .panel-heading(ng-click='navCollapsed=!navCollapsed')
      .i.fa.fa-tablet
      |  {{key | limitTo: -4}}
    .panel-body(ng-show='!navCollapsed')
      h3 Registros:
      table.table.table-hover.table-bordered
        thead
          tr
            th
              .i.fa.fa-qrcode
              |  QR
            th(colspan=2)
              .i.fa.fa-calendar
              |  Día 1
            th
              .i.fa.fa-map-marker
              |  Lugar
            th
              .i.fa.fa-clock-o
              |  Hora
        tbody
          tr(ng-repeat='user in device.registers')
            td {{user.code}}
            td {{user.event}}
            td {{user.date}}
            td {{user.where}}
            td {{user.hour}}

      p(ng-show='!device.registers') No hay registros para este dispositivo.
 