@import '../../css/functions';
@import '../../css/colors';

.qrcode-title{
  margin-top: 0;
  font-weight: bolder;
  font-size: 20pt;
}
.qrcode-subtitle{
  margin-top: 15pt;
  font-size: 35pt;
  font-weight: bolder;
}
.new-user{
  margin-top:25px;
}
img.qr{
  margin: 0px;
}