nav-bar
section#view-event
  h1
    .loading(ng-if='!viewEvent.event.title')
      i.fa.fa-spinner.fa-pulse
    {{viewEvent.event.title}}
  .row
    .col-sm-12
      .details
        a.btn.btn-warning(ui-sref='edit-event({key:viewEvent.eventKey})', tooltip-placement='right', uib-tooltip='Editar Evento')
          i.fa.fa-pencil-square-o
        a.btn.btn-default(ui-sref='main', tooltip-placement='right', uib-tooltip='Ver todos los Eventos')
          i.fa.fa-home
      .devices
        .loading(ng-if='!viewEvent.devices')
          i.fa.fa-spinner.fa-pulse
        .device(ng-repeat='(key, device) in viewEvent.devices')
          i.fa.fa-tablet
          {{key | limitTo: -4}}
  .row
    .col-sm-12
      p(ng-if='viewEvent.loading')
        i.fa.fa-spinner.fa-pulse
      hr
      p(ng-if='!viewEvent.loading')
        a.btn.btn-success(ng-click='csv.generate()', ng-href='{{csv.link()}}', download='{{viewEvent.event.title}}.csv', ng-if='viewEvent.event.days')
          i.fa.fa-file-excel-o
          |  Descargar
      .form-group
        label Subir lista de invitados:
        input(type='file', file-reader='fileContent')
        small *La lista debe estar con formato .csv
      hr
  .row
    .col-sm-12
      .table-responsive
        table.table(ng-if='viewEvent.loading')
          tbody
            tr
              td
                i.fa.fa-refresh.fa-spin.fa-2x.fa-fw
        table.table.table-bordered.table-hover(ng-if='viewEvent.event.days', export-csv='csv', separator=',')
          thead
            tr.amet
              th(colspan='3')
              th.text-center(ng-repeat='(key, day) in viewEvent.event.days track by $index', colspan='{{day.blocks.length}}') {{key}} Bloques
              th.text-center(colspan='3') Requerido: {{viewEvent.event.percent}} %
            tr.amet
              th.text-center Código
              th.text-center Nombre
              th.text-center Apellido
              th.text-center(ng-repeat='(key, block) in viewEvent.blocks track by $index') {{block.start}} - {{block.end}}
              th.text-center
                i.fa.fa-percent
                |  Horas asistidas
              th.text-center
                i.fa.fa-percent
                |  Asistencia bloques
              th.text-center APRV / RECH
          tbody
            tr(ng-repeat='(key, user) in viewEvent.excel track by $index')
              td
                i.fa.fa-qrcode
                |  {{user[0].code}}
              td {{fileContent[user[0].code].firstname}}
              td {{fileContent[user[0].code].lastname}}
              td(ng-repeat='info in viewEvent.blocks')
                span(ng-show='user[$index].hour != "-"') {{user[$index].hour}} - {{user[$index].percent | limitTo: 5}}%
              td.text-right {{viewEvent.getPercentage(user) | limitTo: 4}}%
              td.text-right {{viewEvent.getPercentageTotal(user)}}%
              td.text-center
                i.fa(ng-class='viewEvent.getPercentage(user) >= viewEvent.event.percent ? "fa-check green":"fa-times red"')
                i.fa(ng-class='viewEvent.getPercentageTotal(user) >= viewEvent.event.percent ? "fa-check green":"fa-times red"')
