nav-bar
section#view-event
  h1
    .loading(ng-if='!viewEvent.event.title')
      i.fa.fa-spinner.fa-pulse
    {{viewEvent.event.title}}
  .row
    .col-sm-12
      .details
        a.btn.btn-warning(ui-sref='edit-event({key:viewEvent.eventKey})', tooltip-placement='right', uib-tooltip='Editar Evento')
          i.fa.fa-pencil-square-o
        a.btn.btn-default(ui-sref='main', tooltip-placement='right', uib-tooltip='Ver todos los Eventos')
          i.fa.fa-home
      .devices
        .loading(ng-if='!viewEvent.devices')
          i.fa.fa-spinner.fa-pulse
        .device(ng-repeat='(key, device) in viewEvent.devices')
          i.fa.fa-tablet
          {{key | limitTo: -4}}
  .row
    .col-sm-12
      p(ng-if='viewEvent.loading')
        i.fa.fa-refresh.fa-spin.fa-2x.fa-fw
      .registers(ng-if='viewEvent.event.registers')
        p(ng-show='viewEvent.event.registers && !viewEvent.loading')
          button.btn.btn-success(ng-csv='viewEvent.excel', csv-header='viewEvent.headers', filename='{{viewEvent.event.title}}.csv')
            | Descargar Excel  
            i.fa.fa-file-excel-o
        p(ng-show='!viewEvent.event.registers && !viewEvent.loading') No hay registros para este evento.
      p(ng-show='!viewEvent.event.registers && !viewEvent.loading') No hay registros para este evento.
  .row
    .col-sm-12
      table.table.table-responsive(ng-if='viewEvent.event.days')
        //- thead
        //-   tr
        //-     th(ng-repeat='(key, day) in viewEvent.event.days track by $index', colspan='{{day.blocks.length}}', ng-init='viewEvent.blocks[$index]=day.blocks') {{key}}
        //-   tr
        //-     th(ng-repeat='block in viewEvent.blocks track by $index') {{block}}
        tbody
          tr(ng-repeat='(key, user) in viewEvent.excel track by $index')
            td(ng-repeat='info in [1,2,3,4,5,6,7,8]') {{user[$index]}}
