@import '../../css/functions';
@import '../../css/colors';

#view-event{
  .details{
    .btn{
      margin: 0 10px 0 0;
    }
  }
  .devices{
    font-size: 20px;
    color: lighten($dark-grey, 30);
    .device{
      float: left;
      margin: 8px;
      i{
        font-size: 30px;
        margin-right: 5px;
      }
    }
  }
  .registers{
    margin-top: 20px;
  }
}
