nav-bar
section#new-event.container
  h1 Nuevo Evento
  form.form-group(ng-submit='newEvent.submit()', ng-model='newEvent.form')
    .col-sm-8
      label Nombre del Evento
      .input-group
        span.input-group-addon
          i.fa.fa-building
        input.form-control(type='text', placeholder='Ingrese nombre del Evento', ng-model='newEvent.form.title')
    .col-sm-4
      label Porcentaje requerido para Certificación
      .input-group
        span.input-group-addon
          i.fa.fa-percent
        input.form-control(type='number', placeholder='Ingrese %', ng-model='newEvent.form.percent')
    hr
    .col-sm-12
      .checker
        label Tablets asociados:
      .loading(ng-if='!newEvent.devices')
        i.fa.fa-spinner.fa-pulse
      .checker(ng-repeat='(key, device) in newEvent.devices track by $index')
        label.form-check-label
          input.form-check-input(type='checkbox', ng-model='newEvent.form.devices[key]')
          span
            i.fa.fa-tablet
            |   {{key | limitTo: -4}}
    hr
    .col-sm-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-building
          |  Día
        .panel-body
          .row
            .col-sm-6
              label
                i.fa.fa-clock-o
                |   Inicio:
              select.form-control
                option(ng-repeat='hour in newEvent.hours') {{hour}}
            .col-sm-6
              label
                i.fa.fa-clock-o
                |   Término:
              select.form-control
                option(value='1') 00:00
            .col-sm-12
              a.btn.btn-success(ui-sref='new-event')
                | Agregar Bloque 
                i.fa.fa-plus
        .panel-footer
          a.btn.btn-warning(ui-sref='new-event')
            | Grabar 
            i.fa.fa-save
    .col-sm-12
      .icon
        button.btn.btn-success(ng-disabled='!newEvent.form.title || !newEvent.form.percent')
          | Crear Evento  
          i.fa.fa-send
      .icon
        button.btn.btn-default(ui-sref='main')
          | Cancelar  
          i.fa.fa-ban
