nav-bar
section#new-event.container
  h1 Nuevo Evento
  form.form-group(ng-submit='newEvent.submit()', ng-model='newEvent.form')
    .col-sm-8
      label Nombre del Evento
      .input-group
        span.input-group-addon
          i.fa.fa-building
        input.form-control(type='text', placeholder='Ingrese nombre del Evento', ng-model='newEvent.form.title')
    .col-sm-4
      label Porcentaje requerido para Certificación
      .input-group
        span.input-group-addon
          i.fa.fa-percent
        span.form-control{{newEvent.form.percent}}
      input(type='range', ng-model='newEvent.form.percent', ng-min='1', ng-max='100')
    hr
    .col-sm-12
      .checker
        label Tablets asociados:
      .loading(ng-if='!newEvent.devices')
        i.fa.fa-spinner.fa-pulse
      .checker(ng-repeat='(key, device) in newEvent.devices track by $index')
        label.form-check-label
          input.form-check-input(type='checkbox', ng-model='newEvent.form.devices[key]')
          span
            i.fa.fa-tablet
            |   {{key | limitTo: -4}}
    hr
    .col-sm-4.jump
      .panel.panel-default
        .panel-heading
          i.fa.fa-building
          |  Nuevo día
        .panel-body
          .row
            .col-sm-12
              label Día:
              .input-group
                input.form-control(type='text', uib-datepicker-popup='dd/MM/yyyy', ng-required='true', ng-model='newEvent.dayTitle', is-open='date.open', datepicker-options='newEvent.dateOptions', show-button-bar='false', alt-input-formats='[dd/MM/yyyy]', ng-focus='date.open=!date.open')
                .input-group-btn
                  button.btn.btn-default(type='button', ng-click='date.open=!date.open')
                    i.fa.fa-calendar
          hr
          .row(ng-repeat='block in newEvent.tempBlocks track by $index')
            .col-sm-12
              a.btn.btn-danger.pull-right(ng-click='newEvent.deleteBlock(block)')
                i.fa.fa-times
              h4
                i.fa.fa-clock-o
                |  Bloque {{$index + 1}}
              p de {{block.start}} a {{block.end}}
            hr
          .row
            .col-sm-6
              label
                i.fa.fa-clock-o
                |   Inicio:
              input.form-control(ng-model='newEvent.startBlock', type='text', placeholder='00:00')
            .col-sm-6
              label
                i.fa.fa-clock-o
                |   Término:
              input.form-control(ng-model='newEvent.endBlock', type='text', placeholder='00:00')
            .col-sm-12
              p
                small.red(ng-if='newEvent.blockError') {{newEvent.blockError}}
              a.add.btn.btn-success(ng-click='newEvent.addBlock()')
                | Agregar Bloque 
                i.fa.fa-plus
        .panel-footer
          .add(ng-if='newEvent.getLength(newEvent.tempBlocks) != 0 && newEvent.dayTitle')
            p
              small.red(ng-if='newEvent.errorDay') {{newEvent.errorDay}}
            a.btn.btn-warning(ng-click='newEvent.checkDay()')
              | Agregar Día 
              i.fa.fa-save
          small(ng-if='newEvent.getLength(newEvent.tempBlocks) == 0 || !newEvent.dayTitle') Agrege fecha y bloque de horas para crear día.
    .col-sm-4.jump(ng-repeat='(key, day) in newEvent.days track by $index')
      .panel.panel-default
        .panel-heading
          i.fa.fa-building
          |  {{key}}
        .panel-body
          .row(ng-repeat='block in day.blocks track by $index')
            .col-sm-12
              h4
                i.fa.fa-clock-o
                |  Bloque {{$index + 1}}
              p de {{block.start}} a {{block.end}}
            hr
        .panel-footer
          a.btn.btn-danger(ng-click='newEvent.deleteDay(day)')
            | Eliminar día  
            i.fa.fa-trash
    .col-sm-12
      p
        i.fa(ng-class='{"fa-square-o red":!newEvent.form.title, "fa-check-square-o green":newEvent.form.title}')
        small  Ingrese Nombre de evento.
      p
        i.fa(ng-class='{"fa-square-o red":!newEvent.form.percent, "fa-check-square-o green":newEvent.form.percent}')
        small  Ingrese porcentaje requerido.
      p
        i.fa(ng-class='{"fa-square-o red":!newEvent.enabled, "fa-check-square-o green":newEvent.enabled}')
        small  Cree al menos 1 día para el evento.
      .icon
        button.btn.btn-success(ng-disabled='!newEvent.form.title || !newEvent.form.percent || !newEvent.enabled || newEvent.sending')
          | Crear Evento  
          i.fa(ng-class='{"fa-send":!newEvent.sending, "fa-spinner fa-pulse":newEvent.sending}')
      .icon
        button.btn.btn-default(ui-sref='main')
          | Cancelar  
          i.fa.fa-ban
