side-nav.fixed
section(layout='column', flex)
  md-toolbar(layout='row', layout-align='start center')
    section(layout='row', layout-align='center center', hide-gt-sm)
      md-button.md-hue-2.md-icon-button.md-mini(ng-click='main.mdServices.toggleSidenav("left")')
        md-icon menu
    .logo(hide-gt-sm)
  section(layout='row', flex)
    md-content.md-padding(layout-xs='column', layout='row')
      events