section(layout='row', flex)
  side-nav.fixed(md-colors='{background:"primary"}')
  md-content(flex, layout-padding)
    md-button(ng-click='main.mdServices.toggleSidenav("left")', hide-gt-sm)
      md-icon menu
    events