@import '../../css/functions';
@import '../../css/colors';

#edit-event{
  .jump{
    &:nth-child(3n){
      clear: left;
    }
  }
  form{
    .checker{
      float: left;
      label{
        float: left;
        margin: 0 10px 0 0;
      }
      .form-check-label{
        span{
          margin-left: 8px;
        }
      }
    }
    .panel-body{
      a{
        margin-top: 5px;
      }
    }
    hr{
      float: left;
      width: 100%;
      margin: 10px 0;
    }
    .icon{
      float: left;
      margin: 0 10px 0 0;
    }
    .add{
      margin-top: 10px;
    }
  }
  .bloque{
    display: inline;
    margin: 10px;
  }
}
