md-sidenav.main-sidenav.md-sidenav-left( md-component-id='left',
                            layout='column',
                            md-is-locked-open='$mdMedia("gt-md")',
                            md-whiteframe='{{sideNav.whiteframe}}')
  md-content(md-scroll-y, flex, layout='column')
    md-button.md-primary.md-raised.md-button.layout-column(ui-sref='{{item.uiref}}', ng-repeat='item in sideNav.menu')
      | {{item.title}}
      md-icon {{item.icon}}