@import '../../css/functions';
@import '../../css/colors';

#events{
  .loading{
    color: $green;
    text-align: center;
  }
  .panel-heading{
    a{
      font-size: 12px;
      font-weight: 300;
      line-height: 12px;
      margin-top: -3px;
    }
  }
  .panel-body{
    .content{
      height: 35px;
      i{
        font-size: 20px;
        width: 30px;
        margin: auto;
        text-align: center;
      }
    }
  }
}
