@import './core/css/functions';
@import './core/css/colors';
@import './core/css/common';
@import './core/css/logo';
@import './core/main/new-event/new-event';
@import './core/main/edit-event/edit-event';
@import './core/main/view-event/view-event';
@import './core/main/devices/devices';

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500);

body,
html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
h1,
h2{
  font-weight: 300;
  text-transform: uppercase;
}
section{
  width: 90%;
  margin: auto;
}
a{
  cursor: pointer;
}
.red{
  color: $red;
}
.green{
  color: $green;
}
.mr-sm-2 {
  margin-right: .5rem;
}

.glyphicon{
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-down{
  &:before{
    content: '\f078';
  }
}
.glyphicon-chevron-up{
  &:before{
    content: '\f077';
  }
}
.glyphicon-chevron-left:before{
  content: '\f053';
}
.glyphicon-chevron-right:before{
  content: '\f054';
}