@import './core/css/functions';
@import './core/css/colors';
@import './core/css/common';
@import './core/css/logo';
@import './core/main/new-event/new-event';
@import './core/main/edit-event/edit-event';
@import './core/main/view-event/view-event';
@import './core/main/devices/devices';

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100);
.logo{
  width: 35px;
  height: 40px;
  background-size: contain;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}